@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

body {
  font-family: 'Kiwi Maru', serif;
  background-color: #fffae3;
  color: #666666;
}

/* loading */
.loading {
  animation: loading 0.5s 1s 1 forwards;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
